html {
  background-color: #f9d7d1;
  text-align: center;
  font-size: 20px;
}

#main {
  background-color: white;
  width: 60%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

#radio-box{
  padding-top: 15px;
}

.checkers {
  padding: 15px;
}

.inputf {
  width: 25%;
  padding: 3px;
}